@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
  --aquamarineblue: hsl(177, 68%, 64%);
  --bittersweet: hsl(12, 94%, 65%);
  --orange: hsl(33, 100%, 70%);
  --springwood: hsl(20, 33%, 98%);
  --mirage: hsl(244, 23%, 12%);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--mirage);
  background-image: url(assets/bg-main-mobile.png);
  background-position: 50px -240px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

header {
  margin: auto 24px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  /* margin: 40px 24px; */
  margin-top: 40px;
  width: 375px;
}

.hero {
  margin: auto 24px;
}

.hero-image {
  display: none;
}

.hero-text > p {
  width: 327px;
}

.pricing-wrapper {
  position: relative;
}

.pricing-box {
  margin-top: 150px;
  width: 100%;
  background-color: var(--mirage);
  background-image: url(assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: top center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.app-screenshot > img {
  position: relative;
  top: -120px;
  width: 208px;
}

.pricing {
  background-color: var(--bittersweet);
  border-radius: 12px;
  color: var(--springwood);
  width: 375px;
  padding: 48px 36px;
  box-sizing: border-box;
}

.pricing > h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.pricing-wrapper {
  margin-top: -55px;
}

.pricing-meta {
  margin-top: 36px;
  margin-bottom: 32px;
  height: 52px;
  display: flex;
  align-items: center;
}

.pricing-meta-value {
  font-size: 65px;
  line-height: 52px;
  font-weight: bold;
}

.pricing-meta-period {
  margin-left: 16px;
}
.icon {
  width: 17px;
  height: 20px;

  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin-right: 8px;
}
.icon-android {
  background-image: url(assets/icon-android.svg);
}
.icon-ios {
  background-image: url(assets/icon-apple.svg);
}

.button {
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 16px;
  display: block;
  width: 100%;
  border-style: none;
  cursor: pointer;
}

.button-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.button-ios {
  background-color: var(--mirage);
  color: var(--springwood);
}

.button-ios:hover {
  background-color: var(--aquamarineblue);
}

.button-android {
  background-color: var(--springwood);
  color: var(--mirage);
}

.button-android:hover {
  background-color: var(--orange);
}

footer {
  padding: 0 24px;
  margin-bottom: 60px;
}

.footer-contact > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--mirage);
}

.footer-copyright {
  margin-top: 32px;
  margin-bottom: 0;
}

.footer-socialmedia {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  justify-items: center;
}

.iconsocial {
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
}

.linksocial:hover .iconsocial {
  /*
    thanks to this article:
    https://css-tricks.com/change-color-of-svg-on-hover/
    I learned how to change svg's fill colors on bg-images
    applying filters. Credit goes to Barrett Sonntag and his
    tool here:
    https://codepen.io/sosuke/pen/Pjoqqp
    */
  filter: invert(61%) sepia(27%) saturate(4118%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}

.icon-facebook {
  background-image: url(assets/icon-facebook.svg);
}
.icon-instagram {
  background-image: url(assets/icon-instagram.svg);
}
.icon-twitter {
  background-image: url(assets/icon-twitter.svg);
}

/* Tablet */
@media (min-width: 768px) {
  body {
    background-image: url(assets/bg-main-tablet.png);
    background-position: -180px -240px;
  }
  h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
    margin-bottom: 25px;
  }

  .container {
    background-image: url(assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: 111% -4%;
  }

  .wrapper {
    width: 696px;
  }

  .hero {
    display: grid;
    grid-template-columns: 520px auto;
  }
  .hero-text {
    width: 520px;
  }

  .hero-text > p {
    width: 514px;
    font-size: 18px;
  }

  .hero-image {
    display: block;
    position: absolute;
    top: -50px;
    right: -102px;
  }
  .hero-image > img {
    width: 266px;
  }
  .pricing {
    position: absolute;
    width: 399px;
    top: -450px;
    margin-left: -126px;
  }
  .pricing > p {
    font-size: 18px;
    line-height: 28px;
    width: 93%;
  }
  .pricing-wrapper {
    margin: 48px 48px;
  }

  .app-screenshot > img {
    left: -168px;
    width: 270px;
  }
  footer {
    margin-top: 127px;
    display: grid;
    grid-template-columns: 366px 1fr;
    grid-auto-rows: auto;
    width: 696px;
  }
  .footer-copyright {
    width: 366px;
    margin-top: 32px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .footer-contact {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 0;
  }

  .footer-socialmedia {
    margin-top: 0;
    grid-row-start: 3;
    justify-self: self-end;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  body {
    background-image: url(assets/bg-main-desktop.png);
  }
  .container {
    background-image: url(assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: right -39px;
  }
  h1 {
    font-weight: bold;
    font-size: 88px;
    line-height: 88px;
    margin: 127px 0 0 0;
  }
  .wrapper {
    width: 1100px;
  }
  .hero {
    display: grid;
    grid-template-columns: 899px auto;
  }
  .hero-text {
    width: 899px;
  }

  .hero-text > p {
    width: 825px;
    font-size: 18px;
    margin-top: 40px;
  }
  .pricing {
    position: absolute;
    width: 446px;
    /* height: 625px; */
    top: -490px;
    margin-left: 36px;
    font-size: 20px;
  }
  .pricing > h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    margin: 0;
  }

  .pricing > p {
    font-size: 20px;
    line-height: 34px;
  }
  .pricing-wrapper {
    margin: 58px 54px;
  }
  .pricing-meta {
    margin-top: 39px;
    margin-bottom: 46px;
  }
  .button {
    height: 61px;
  }

  .app-screenshot > img {
    left: -278px;
    width: 280px;
  }
  .pricing-box {
    margin-top: 231px;
    background-size: 312px;
    background-position: 334px -40px;
    height: 600px;
  }
  footer {
    width: 1100px;
    display: grid;
    grid-template-columns: 288px 366px 1fr;
    grid-auto-rows: auto;
    margin-top: 201px;
  }
  .footer-copyright {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 0px;
  }
  .footer-contact {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 28px;
  }
  .footer-socialmedia {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
  }
}
