@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
  --aquamarineblue: hsl(177, 68%, 64%);
  --bittersweet: hsl(12, 94%, 65%);
  --orange: hsl(33, 100%, 70%);
  --springwood: hsl(20, 33%, 98%);
  --mirage: hsl(244, 23%, 12%);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--mirage);
  background-image: url(assets/bg-main-mobile.png);
  background-position: 50px -240px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 40px 24px;
  width: 327px;
}

.hero-image {
  display: none;
}

.hero-text > p {
  width: 327px;
}

.app-screenshot > img {
  width: 208px;
}

/* Tablet */
@media (min-width: 768px) {
  body {
    background-image: url(assets/bg-main-tablet.png);
    background-position: -180px -240px;
  }
  h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
  }

  .container {
    background-image: url(assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: 111% -4%;
  }

  .wrapper {
    width: 696px;
  }

  .hero {
    display: grid;
    grid-template-columns: 520px auto;
  }
  .hero-text {
    width: 520px;
  }

  .hero-image {
    display: block;
    position: absolute;
    top: -50px;
    right: -102px;
  }
  .hero-image > img {
    width: 266px;
  }
  .pricing {
    width: 399px;
  }
  .app-screenshot > img {
    width: 270px;
  }
  footer {
    width: 696px;
  }
  .footer-copyright {
    width: 366px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  body {
    background-image: url(assets/bg-main-desktop.png);
  }
  .container {
    background-image: url(assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }
  h1 {
    font-weight: bold;
    font-size: 88px;
    line-height: 88px;
  }
}
